<%- include header %>
<div class="jumbotron">
    <h1><%= title %></h1>
</div>
<label class="control-label">一级菜单</label>
<form method="post" class="form-horizontal" enctype="application/json">
    <% button.forEach(function(value, index){ %>
    <div>
        <label class="control-label"><%= index+1 %>号</label>
        <div class="form-group">
            <label class="col-sm-1 control-label">菜单标题</label>
            <input class="col-sm-10 col-sm-offset-1" name="name" type="text" value="<%= value['name']; %>">
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">菜单类型</label>
            <select class="col-sm-10 col-sm-offset-1" name="onetype">
                <option value="click">点击推送事件</option>
                <option value="view">跳转URL</option>
                <option value="scancode_push">扫码推事件</option>
                <option value="scancode_waitmsg">扫码推事件且弹出"消息接收中"提示框</option>
                <option value="pic_sysphoto">弹出系统拍照发图</option>
                <option value="pic_photo_or_album">弹出拍照或者相册发图</option>
                <option value="pic_weixin">弹出微信相册发图器</option>
                <option value="location_select">弹出地理位置选择器</option>
                <option value="media_id">下发消息</option>
                <option value="view_limited">跳转图文消息URL</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">菜单key值</label>
            <input name="key" placeholder="click等点击类型必须" type="text" class="col-sm-offset-1 col-sm-10" value="<%= value['key']; %>">
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">URL</label>
            <input type="text" name="url" placeholder="view类型必须" class="col-sm-10 col-sm-offset-1" value="<%= value['url']; %>">
        </div>
    </div>
    <% }) %>
    <div class="form-group">
        <button type="submit" class="btn-default col-sm-offset-10 col-sm-2">提交</button>
    </div>
</form>
<%- include footer %>